body{
	background-color: #f2f2ff;
	font-family: sans-serif;
	font-size: 2vw;
	color: darkblue;
}
.parent, .grid-container, .grid-containeres, .grid-containers{
	background-color: #1d24117c;
}

.item, .grid-itens, .grid-items, .areas{
	background-color: #6b692284;
	color: #fff;
}

.item:nth-child(3){
	background-color:#1d24117c;
}

.areas{
	background-color:#6b692284;
	color: black;
}

h1, h2, h3, h4{
	color: darkblue;
}
.footer{
	background-color: rgb(77, 77, 77);
}
.sidebar{
	background-color: #ddd;
}

.layout{
	border-width: 2px;
}